
.side-panel {
    background: #3c3f41;
    position: relative;
    height: 100%;
    z-index: 1;
    max-width: 35%;
}
.side-panel.left { float: left; }
.side-panel.right { float: right; }
.side-panel[open] { min-width: 10px;}
.side-panel:not([open]) { max-width: 0; }

.side-panel .content {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}


.side-panel .resizer {
    height: 100%;
    background: #FFF4;
    width: 5px;
    position: absolute;
    top: 0;
    list-style: none;
    outline: none;
    user-select: none;
    cursor: ew-resize;
}
.side-panel.left .resizer { left: 100%; }
.side-panel.right .resizer { right: 100%; }

.side-panel:not([open]) > .content {
    display: none;
}
.side-panel .content .menu-main {

}

.side-panel .resizer .title {
    font-family: Arial, sans-serif;
    font-weight: bold;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: #FFFC;
    background: #FFF4;
    width: 1.5em;
    height: fit-content;
    position: absolute;
    padding: 1em 0;
    top:50%;
    transform: translateY(-50%);
}
.side-panel.left .resizer .title {
    border-radius: 0 100vh 100vh 0;
    left:100%;
}
.side-panel.right .resizer .title {
    border-radius: 100vh 0 0 100vh;
    right:100%;
}