@import "fbp/process.css";
@import "fbp/connections.css";
@import "sidepanel.css";


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.fbp-ide {
    --menu-width: 20pt;
    --menu-padding: 2pt;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    display: grid;
    position: relative;
    grid-template-areas:
        "top    top     top    top     top"
        "l-tabs l-panel editor r-panel r-tabs"
        "bottom bottom  bottom bottom  bottom";
    grid-template-rows: var(--menu-width) 1fr var(--menu-width);
    grid-template-columns: var(--menu-width) min-content 1fr min-content var(--menu-width);
    user-select: none;
}
.fbp-ide :is(*[contenteditable=true], input[type=text]) {
    user-select: initial;
}
.fbp-ide .menu {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--menu-background-color);
    color: #fff;
    border: 1px solid var(--menu-separator-color);
}
.fbp-ide .menu > ul {
    padding: 0;
    margin: 0;
}
.fbp-ide .menu[position="top"]    { grid-area: top; }
.fbp-ide .menu[position="left"]   { grid-area: l-tabs; border-width: 0 1px;}
.fbp-ide .menu[position="right"]  { grid-area: r-tabs; border-width: 0 1px;}
.fbp-ide .menu[position="bottom"] { grid-area: bottom; }
.fbp-ide .menu li {
    display: inline-block;
}
.fbp-ide :is(.menu[position="left"], .menu[position="right"]) li {
    padding: calc(var(--menu-padding)*4) var(--menu-padding);
    width: calc(100% - 2*var(--menu-padding));
}
.fbp-ide :is(.menu[position="top"], .menu[position="bottom"]) li {
    padding: var(--menu-padding) calc(var(--menu-padding)*4);
    height: calc(100% - 2*var(--menu-padding));
}
.fbp-ide .menu li[selected] {
    background-color: var(--menu-selected-baground);
}
.fbp-ide .menu li:not([selected]):hover {
    background-color: var(--menu-hover-baground);
}
.fbp-ide .menu li img {
    max-height: calc(var(--menu-width) - var(--menu-padding) * 2);
    max-width: calc(var(--menu-width) - var(--menu-padding) * 2);
    filter: var(--icon-img-filter);
}
.fbp-ide .side-panel[position="left"] { grid-area: l-panel; }
.fbp-ide .side-panel[position="right"] { grid-area: r-panel; }

.fbp-ide .content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-area: editor;
}

.editor {
    display: block;
    position: relative;
    overflow: hidden;
    margin : auto;
    padding : 0;
    height: 100%;
    z-index: 0;
    outline: none;
}

/******************************************************************************
*                                 SCROLL BARS                                 *
******************************************************************************/

* {
    scrollbar-color: #FFFFFF4E transparent;
    scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 3mm;
    height: 3mm;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #FFFFFF4E;
    border-radius: 100vh;
}
::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF5E;
}